.bg-hola{
    background-color: #2C3D4F!important;
    color: #ffff;
}
.navbar-brand {
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}

nav a:hover{
    color: rgb(0, 243, 101)!important;
}
body {
    font-family: Comic Sans MS;
}
.d-flex{
    background-color: #19bc9b;
}
.masthead{
    background-color: #19bc9b;
}
.masthead-avatar{
    width: 250;
}

.masthead-star{
    width: 300;
}
.masthead-star2{
    width: 300;
}